*{
    font-family: 'overpass', sans-serif;
}

body{
    background: hsl(216, 12%, 8%);
    color: white;
    height: 630px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 22px;
}

p{
    font-size: 15px;
    text-align: center;
    margin-top: 0;
}

.ratingState{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: hsl(213, 19%, 18%);
    width: 300px;
    height: 300px;
    padding: 30px;
    border-radius: 20px;
}

.star{
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsl(214, 19%, 22%);
    width: 40px;
    height: 40px;
    border-radius: 40px;
}
span{
    background: hsl(214, 19%, 22%);
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 40px;
    cursor: pointer;
}

span:hover{
    background: hsl(217, 12%, 63%);
}

span:active{
    background: hsl(25, 97%, 53%);
    color: white;
}

.rate{
    display: flex;
    justify-content: space-between;
}

a{
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    background: hsl(25, 97%, 53%);
    color: white;
    border: 2px solid hsl(25, 97%, 53%);
    border-radius: 20px;
    height: 40px;
    width: 300px;
    margin: 25px 0 0 0;
    cursor: pointer;
}

a:active{
    background: white;
    color: hsl(25, 97%, 53%);
    border: 2px solid white;
}

.thankUstate{
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: hsl(213, 19%, 18%);
    width: 300px;
    height: 300px;
    padding: 30px;
    border-radius: 20px;
    visibility: hidden;
}

.selection{
    margin-bottom: 0;
    background: hsl(214, 19%, 22%);
    color: hsl(25, 97%, 53%);
    width: 160px;
    padding: 5px;
    border-radius: 20px;
}

svg{
    margin-top: 10px;
    margin-bottom: 10px;
}